.picture img {
    float: left;
    width: 28%;
    padding: 5px;
    border: 1px solid rgba(225, 225, 225, 0.7);
    margin-right: 6.365%;
    margin-bottom: 20px;
}

.picture:nth-child(3n) {
    margin-right: 0;
}
