<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}MyApp{% endblock %}</title>
    
</head>
<body>
    {% include 'header.twig' %}

    {% block content %}{% endblock %}
</body>
</html>