{% extends 'layout.twig' %}

{% block title %}MyApp / Acoount{% endblock %}
{% block content %}
    Последние посещённые страницы:
    {% for item in history %}
        <li>{{ item.url }}</li>
    {% endfor %}
{% endblock %}